<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <title>***Title***</Title>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'similarity/vendor.js' %}"></script>
        <link rel='stylesheet' type='text/css' href="{% static 'similarity/vendor.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'similarity/index.css' %}" />
    </head>
    <body>
        <form enctype="multipart/form-data" name="{{ form.form_name }}" method="post" action=".">
            {% csrf_token %}
            <div>
                <label for="text-input"> Text:</label>
                <textarea cols="40" id="text-input" name="text" rows="10"> </textarea>
            </div>

            <div>
                <label for="file-input">
                <input id="file-input" name="input_file" type="file" />
            </div>

            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
        <script type="text/javascript" src="{% static 'similarity/index.js' %}"></script>
    </body>
</html>
