<!DOCTYPE html>
<html ng-app="author">
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <title>Author Similarity</title>
            {% load staticfiles %}
            <script type="text/javascript" src="{% static 'similarity/vendor.js' %}"></script>
            <link rel='stylesheet' type='text/css' href="{% static 'similarity/vendor.css' %}" />
            <link rel='stylesheet' type='text/css' href="{% static 'similarity/index.css' %}" />
    </head>
    <body ng-controller="MainController">
        <div id="header">
            <h2 id="title">Author Similarity</h2>
        </div>

        <div id="document-container">
            <div id="document">
                <textarea id="text" ng-model="dataModel.text"></textarea>
            </div>
        </div>

        <footer>
            <div id="footer" layout="row" layout-align="space-between center">
                <div>
                    <input id="file" type="file" />
                </div>
                <div>
                    <button ng-click="classify()">Classify</button>
                </div>
            </div>
        </footer>>

        <script type="text/javascript" src="{% static 'similarity/index.js' %}"></script>
    </body>
</html>
