<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>***Title***</Title>
        {% load staticfiles %}
        <link rel='stylesheet' type='text/css' href="{% static 'similarity/index.css' %}" />
    </head>
    <body>
        <form enctype="multipart/form-data" name="{{ form.form_name }}" method="post" action=".">
            {% csrf_token %}
            <div>
                <label for="id_text"> Text:</label>
                <textarea cols="40" id="id_text" name="text" rows="10"> </textarea>
            </div>

            <div>
                <label for="id_input_file">
                <input id="id_input_file" name="input_file" type="file" />
            </div>

            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
        <script type="text/javascript" src="{% static 'similarity/index.js' %}"></script>
    </body>
</html>
